body {
    background-color: #17c1f0;
  
  }
  
  h1 {
    color: rgb(255, 255, 255);
    background-color: LightPink;
    border: 2px solid black;
    font-family: Lucida Handwriting;
    text-shadow: 2px 2px gray;

  }
  /*CLASS*/
  .center {
    text-align: center;
  }

  .fonte-roxo {
    color: ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
  }

  /*ID*/
  #para {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
