body {
    background-color: rgba(253, 120, 207, 0.998);
  }
  
  h1 {
    color: rgb(255, 251, 251);

  }
  
  .center {
    text-align: center;
  }

  .fonte-roxo {
    color: blueviolet;
  }

  
  #para {
    font-family: Comic Sans MS;
    font-size: 20px;
  }